header {
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

main {
  margin-top: 100px;
}


.navbar {
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-area {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-area img {
  width: 50px;
  height: 50px;
}

.site-name {
  font-size: 20px;
  font-weight: bold;
  color: #000;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
  margin: 0;
  padding: 0;
}

.nav-links li a {
  text-decoration: none;
  color: #000;
  font-size: 16px;
  text-transform: lowercase;
  transition: color 0.3s;
}

.nav-links li a:hover {
  color: #4a90e2;
}



#servicos {
  max-width: 1900px;
  margin: 0 auto;
}

.servicos-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
  margin-top: 30px;
}

.card-servico {
  background: #ffffff;
  border-radius: 22px;
  overflow: hidden;
  cursor: pointer;
  min-height: 340px;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease;
}

.card-servico:hover {
  transform: translateY(-4px);
}

.card-servico img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  display: block;
}

.card-servico {
  position: relative;
  width: 100%;
  height: 280px;
  border-radius: 22px;
  overflow: hidden;
}

.card-conteudo {
  padding: 18px 16px 20px;
  position: relative;
  width: 100%;
  height: 280px;
  border-radius: 22px;
  overflow: hidden;
}

.card-conteudo h3 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #111;
}

.card-conteudo p {
  font-size: 15px;
  line-height: 1.5;
  color: #444;
}

@media (max-width: 768px) {
  .servicos-grid {
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 24px;
  }

  .card-servico {
    width: 100%;
    max-width: 320px;
  }
}